
.searchInput {
    margin-right: 23px;
    text-align: right;
}

.searchInput>input{
    width: 300px;
    outline: none;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-color: #007bff;
    padding: 10px;
}